.ilya-img {
  height: 300px;
}

.mouth {
  height: 40px;
  position: absolute;
  bottom: 145px;
  left: 49.5%;
}

.smiled {
  transform: rotate(-7deg);
}

.sad {
  transform: rotate(172deg);
}

@media (min-width: 440px) {
  /* Стили для экранов шире 600 пикселей */
  .mouth {
    bottom: 195px;
  }
}