.ilya {
  position: relative;
}

.ilya-img {
  height: 300px;
}

.mouth {
  height: 40px;
  position: absolute;
  bottom: 195px;
  left: 126px;
}

.smiled {
  transform: rotate(-7deg);
}

.sad {
  transform: rotate(172deg);
}

/* @media (min-width: 440px) {
  .mouth {
    bottom: 195px;
  }
} */